<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-5372736428560129~1759477171</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>맞춤형 광고를 제공하기 위해 사용자의 활동 데이터를 활용합니다.</string>
</dict>
</plist>
